h1 {
    text-align: center;
    
}

.stateChoice {
    text-align: center;
}


main {
    display: flex;
    flex-wrap: wrap;
    font-size: .8em;
    width: min(90%, 800px);
    margin-inline: auto;
    gap: 5px;
    justify-content: center;
    background-color:red;
}

.eachstate {
    border: 2px solid blue;
    color: blue;
    
    transition: border .5s;
}

.eachstate:hover {
    border: 5px solid blue;
    cursor: pointer;
}

.output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    margin: 2%;
}

.eachBrew {
    border: 2px solid black;
    text-align: center;
    padding: 3%;
    margin: 2%;
    background-color: beige;
}

