body {
    background-color: antiquewhite;
}

.tophead {
    text-align: center;
    font-family: sans-serif;
    color: rgb(23, 135, 169);
    font-weight: 300;
    
}

.stateChoice {
    text-align: center;
    font-family: sans-serif;
    color: rgb(23, 135, 169);
    font-weight: 300;
    font-size: 16px;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(226, 77, 77);
    border: 2px solid black;
    margin: 2rem;
    padding: 0 auto;
    font-size: 8px;
    max-width: 500px;
    overflow: scroll;
}

@media (min-width: 40em) {
    main {
        font-size: 12px;
        margin: 0 auto;
    }

    .stateChoice {
        font-size: 28px;
    }
}


.eachstate {
    border: 1px solid rgb(53, 53, 158);
    opacity: .8;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(25, 25, 157);
    transition: border .8s;
    padding: .2rem;
    margin: .1rem;  
}

.eachstate:hover {
    border: 5px solid blue;
    cursor: pointer;
}

.output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.eachBrew {
    border: 2px solid black;
    text-align: center;
    font-family: sans-serif;
    padding: 1rem;
    background-color: rgb(96, 103, 184);
    margin: 1rem;
    font-size: 8px;
}

/* media queries */

